<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="xyz.toth_marcell.social_news">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Social News" android:icon="@drawable/icon" />
	<!--add android:usesCleartextTraffic="true" if running non-https server for development-->
</manifest>