:root {
  --pico-font-size: 100%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
nav li {
  margin-inline: 5px;
}
h1 > a,
h2 > a {
  color: currentColor;
  text-decoration: none;
}
h1 > a:hover,
h2 > a:hover {
  text-decoration: underline var(--pico-primary);
}
article > * {
  margin-right: 10px;
}
article button {
  padding: 5px;
}
article h2 {
  display: inline-block;
}
.msg {
  border-radius: var(--pico-border-radius);
  display: inline-block;
  margin-bottom: 5px;
}
.msg-fail {
  --pico-mark-background-color: #d93526;
}
