<datalist id="categories">
  <option>Politics</option>
  <option>Crime</option>
  <option>Economy</option>
  <option>Health</option>
  <option>Sports</option>
  <option>Entertainment</option>
  <option>Weather</option>
</datalist>