<footer class="container">
  <nav>
    <ul>
      <li><a href="/rules">Rules</a></li>
      <li><a href="/api-docs" target="_blank">API documentation</a></li>
      <li><a href="/social-news-site-project.pdf" target="_blank">Project documentation</a></li>
      <li><a href="/xyz.toth_marcell.social_news.apk" target="_top">Android app</a></li>
      <li><a href="/SocialNewsApp.Desktop.zip" target="_top">Desktop program</a></li>
    </ul>
  </nav>
</footer>