<footer class="container">
  <nav>
    <ul>
      <li><a href="/api-docs">API documentation</a></li>
      <li><a href="/social-news-site-project.pdf">Project documentation</a></li>
    </ul>
  </nav>
</footer>