<footer class="container">
  <nav>
    <ul>
      <li><a href="/rules">Rules</a></li>
      <li><a href="/api-docs" target="_blank">API documentation</a></li>
      <li><a href="/social-news-site-project.pdf" target="_blank">Project documentation</a></li>
    </ul>
  </nav>
</footer>