<header class="container">
  <nav>
    <ul>
      <li>
        <h1><a href="/"><%= siteName %></a></h1>
      </li>
      <% if (user) { %>
      <li>
        <a href="/newpost"><button>New post</button></a>
      </li>
      <% } %>
    </ul>
    <ul>
      <% if (user) { %>
      <li>Logged in as <a href="/users/<%= user.id %>"><%= user.name %></a></li>
      <li>
        <a href="/logout"><button>Log out</button></a>
      </li>
      <% } else { %>
      <li>
        <a href="/register"><button>Register</button></a>
      </li>
      <li>
        <a href="/login"><button>Log in</button></a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
