openapi: 3.0.4
info:
  title: "Social news site API"
  version: 1.0.0
servers:
  - url: /api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    unauthorized:
      description: "You didn't send a valid JWT"
      content:
        application/json:
          schema:
            properties:
              msg:
                example: "You must be logged in to do that!"
  schemas:
    post:
      required:
        - title
        - category
      properties:
        title:
          type: string
        link:
          type: string
        linkType:
          type: string
        text:
          type: string
        category:
          type: string
  parameters:
    idInPath:
      in: path
      name: id
      schema:
        type: integer
      required: true
paths:
  /register:
    post:
      tags: [Authentication]
      summary: Create a new account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - password
              properties:
                name:
                  type: string
                password:
                  type: string
                about:
                  type: string
      responses:
        200:
          description: "Successful account creation"
          content:
            application/json:
              schema:
                properties:
                  msg:
                    example: "Success! You can now log in."
        400:
          description: "Not all required fields were sent, or the username is already taken"
          content:
            application/json:
              schema:
                properties:
                  msg:
                    anyOf:
                      - example: "You must fill out the name and password fields!"
                      - example: "That name is already taken!"
  /login:
    post:
      tags: [Authentication]
      summary: Get a JWT for an account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - password
              properties:
                name:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: "Successful login"
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    example: "Success!"
                  token:
                    description: JWT
  /me:
    get:
      tags: [Users]
      summary: Get info about yourself
      security: [bearerAuth: []]
      responses:
        200:
          description: User information
        401:
          $ref: "#/components/responses/unauthorized"
    put:
      tags: [Users]
      summary: Edit your name, password and about text
      security: [bearerAuth: []]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                password:
                  type: string
                about:
                  type: string
      responses:
        200:
          description: Success!
        400:
          description: No properties specified to change
        401:
          $ref: "#/components/responses/unauthorized"
  /posts:
    get:
      tags: [Posts]
      summary: Get all posts
      responses:
        200:
          description: Success!
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/post"
    post:
      tags: [Posts]
      summary: Create new post
      description: The link and link type; or the text field must be filled. If the link is set the link type must be set too.
      security: [bearerAuth: []]
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post"
      responses:
        200:
          description: Success!
        401:
          $ref: "#/components/responses/unauthorized"
  /posts/{id}:
    delete:
      tags: [Posts]
      summary: Delete post by id
      security: [bearerAuth: []]
      parameters:
        - $ref: "#/components/parameters/idInPath"
      responses:
        200:
          description: Success!
        403:
          description: You can only delete your own posts, unless you are an admin.
          content:
            application/json:
              schema:
                properties:
                  msg:
                    example: You can only delete your own posts, unless you are an admin.
        401:
          $ref: "#/components/responses/unauthorized"
    put:
      tags: [Posts]
      summary: Edit post by id
      security: [bearerAuth: []]
      parameters:
        - $ref: "#/components/parameters/idInPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post"
      responses:
        200:
          description: Success!
        403:
          description: You can only edit your own posts, unless you are an admin.
          content:
            application/json:
              schema:
                properties:
                  msg:
                    example: You can only edit your own posts, unless you are an admin.
        401:
          $ref: "#/components/responses/unauthorized"
  /logs:
    get:
      tags: [Administration]
      summary: Get all log entries
      security: [bearerAuth: []]
      responses:
        200:
          description: Success!
